<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😈😈PROPUESTA INDECENTE😈😈</title>
    <style>
.body {

    background-color: brown;
    text-align: center;
}
.body__title {
color: aliceblue;
}
.body_img
{

    width: 100%;
    border-radius: 55%;

}

    </style>


</head>
<body class="body">
    <h1 class="body__title">😈😈¿QUIERES FOLLAR CONMIGO?😈😈</h1>
    <img src="https://d.wattpad.com/story_parts/752677132/images/15ae3beef00c761f180574394157.jpg" alt="Foto de mi"/>
    <button id="YES"> 🥴SI QUIERO🥴 </button>
    <button id="NO"> 🤢NO QUIERO🤢 </button>
    <script>
 const vutonSI = document.getElementById ("YES");
 const vutonNO = document.getElementById ("NO");
 const YAQUEINSISTES = () =>{
    alert("🙃🙃YA QUE INSISTES🙃🙃");
    alert("🙈CON UNA CONDICION🙈");
    location.href = "https://www.xv-videos1.com/video30858659/castigo_a_mi_esposa_con_latigo";
   }
   const evitarquedarquesua = () => {
    vutonNO.style.position = "absolute";
    vutonNO.style.top = (Math.random() * window.innerHeight) + "px";
    vutonNO.style.left = (Math.random() * window.innerWidth) + "px";
   }

   vutonSI.addEventListener("click", YAQUEINSISTES);
   vutonNO.addEventListener("mouseover", evitarquedarquesua);
</script>
</body>
</html>